@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    font-family: Inter, sans-serif;
    margin-left: 0;
    margin-right: 0;
}

body{
    background-color: #F5EEDC;
    position: relative;
}

.title {
    font-size: 58px;
    text-align: center;
}

.subtitle {
    font-size: 28px;
    text-align: center;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-align: center;
    font-size: 26px;
}

#player-sc-lbl {
    color: green;
}

#computer-sc-lbl {
    color: red;
}

.weapons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 20px 0px;
}

.button {
    border: 1px solid black;
    transition: all .2s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px;
}

.button img {
    width: 200px;
}

.round-points {
    text-align: center;
    font-size: 26px;
}

.hidden {
    display: none;
}

#reset-game {
    height: 100vh;
    text-align: center;
    font-size: 38px;
}

#play-again {
    border: 1px solid black;
    transition: all .2s ease-in-out;
    background-color: transparent;
    padding: 20px;
    font-size: 20px;
}

#play-again:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px;
}