@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    font-family: Inter, sans-serif;
}



.title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.paragraph {
    text-align: center;
}

.weapons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 20px 0px;
}

.button {
    border: 1px solid black;
}

.button img {
    width: 200px;
}

.score {
    display: flex;
    justify-content: center;
    gap: 2em;
    text-align: center;
}

.round-points {
    text-align: center;
}

.hidden {
    display: none;
}

.final-results {
    text-align: center;
}